
trigger:
  - main
  
pool:
      vmImage: ubuntu-latest
 
# use     appName: 'appsvc-fnc-dev-prwapp-loadtesting-linux' for container

steps:
- bash: |
    npm install 
    npm run build --if-present
    npm prune --production

- script: |
    echo $(azureSubscription)
    echo $(appName)

# - task: AzureFunctionApp@1
#   inputs:
#     azureSubscription: 'Azure subscription 1(1891f709-d05d-47f9-95d1-14d23f0ea673)'
#     appType: 'functionAppLinux'
#     appName: 'azure-function-app-app'
#     package: '$(System.DefaultWorkingDirectory)/**/*.zip'
#     runtimeStack: 'NODE|14'
- task: ArchiveFiles@2
  displayName: "Archive files"
  inputs:
    rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
    includeRootFolder: false
    archiveFile: "$(System.DefaultWorkingDirectory)/build$(Build.BuildId).zip"
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/build$(Build.BuildId).zip'
    artifactName: 'drop'

- task: AzureFunctionApp@1
  inputs:
    azureSubscription: $(azureSubscription)
    appType: functionAppLinux # default is functionApp
    appName: $(appName)
    package: '$(System.DefaultWorkingDirectory)/build$(Build.BuildId).zip'
    #Uncomment the next lines to deploy to a deployment slot
    #Note that deployment slots is not supported for Linux Dynamic SKU
    #deployToSlotOrASE: true
    #resourceGroupName: '<Resource Group Name>'
    #slotName: '<Slot name>'
