trigger:
- function-container

steps:

- task: AzureFunctionAppContainer@1
  inputs:
    azureSubscription: $(azureSubscription)
    appName: $(containerName)
    imageName: nostriluu/azurefunctionsimage@v1.0.0