
trigger:
- function-container

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureFunctionAppContainer@1
  inputs: 
    azureSubscription: $(azureSubscription)
    appName: $(containerName)
    imageName: nostriluu/azurefunctionsimage:v1.0.2
    